.carousel {
    &-slide-enter {
        opacity: 0.01;
    }

    &-slide-enter-active {
        opacity: 1;
    }

    &-slide-exit {
        opacity: 1;
    }

    &-slide-exit-active {
        opacity: 0.01;
    }
}
