.competition-header {
    min-height: 250px;
    margin: 0 !important;

    .grid:first-of-type {
        min-height: calc(100% + 1rem);
    }

    &-before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        z-index: 200;
    }

    &-after {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}
