.calendar {
  max-width: 50 * 7px;

  &-heading {
    font-size: 1.5rem;
    font-weight: lighter;
    border-bottom: 1px solid hsl(171, 100%, 41%);
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;

    .fa, .fab, .fas {
      opacity: .5;
    }
  }

  &-grid {
    display: grid;
    grid-template: repeat(7, auto) / repeat(7, 50px);
    text-align: center;
  }

  &-weekdays {
    border-bottom: 1px solid hsl(171, 100%, 41%);
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: 0.75rem;
  }

  .date-item {
    // Inspired by http://creativebulma.net//product/calendar/demo
    background: 0 0;
    border: 0.1rem solid transparent;
    border-radius: 100%;
    color: #4a4a4a;
    cursor: pointer;
    height: 2.2rem;
    line-height: 1.4rem;
    outline: 0;
    padding: 0.3rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    vertical-align: middle;
    white-space: nowrap;
    width: 2.2rem;

    &.is-today {
      background-color: hsl(171, 100%, 41%);
      color: white;
      border-radius: 25091983px;
    }

    &.is-current {
      background-color: hsl(217, 71%,  53%);
      color: white;
    }
  }

  .is-othermonth {
    border-radius: 0;
    background: hsl(0, 0%, 86%);
  }
}

.is-borderless {
  border: none;
}

.is-transparent {
  background: none;
}
