.featured-competitions {
    .featured-competitions-slide {
        height: 250px;

        &-before {
            position: relative;
            z-index: 200;
        }

        &-after {
            content: '';
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 1;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .button {
            opacity: 0;
        }
    }

    &:hover {
        .featured-competitions-slide {
            .button {
                opacity: 1;
            }
        }
    }
}
