$gradients: '1' #cfd9df #e2ebf0, '2' #13547a #80d0c7, '4' #ff0844 #ffb199, '8' #f6d365 #fda085;

.genre-select {
    @each $tuple in $gradients {
        .ui.card.category-select-item-#{nth($tuple, 1)} {
            color: white;
            background-image: linear-gradient(120deg, #{nth($tuple, 2)} 0%, #{nth($tuple, 3)} 100%);
            &:hover {
                background-image: linear-gradient(120deg, lighten(nth($tuple, 2), 20%) 0%, #{nth($tuple, 3)} 100%);
            }

            h1.ui.header {
                color: white;
            }
        }

        .genre-select-item {
            &.ui.card.raised.genre-select-item-#{nth($tuple, 1)} {
                background-image: linear-gradient(120deg, lighten(nth($tuple, 2), 20%) 0%, #{nth($tuple, 3)} 100%);

                h1.ui.header {
                    color: white;
                }
            }
        }
    }
}
