.progress-ring {
    &-background,
    &-progress {
        fill: none;
    }

    &-background {
        stroke: #ddd;
        stroke-width: 3px;

    }

    &-progress {
        stroke: teal;
    }

    &-text {
        font-size:  3em;
        font-weight: bold;
        fill:teal;
    }
}