.timeline {
  width: 100%;

  .progress {
    margin-top: auto;
    margin-bottom: auto;
  }

  li {
    list-style-type: none;
    width: 33%;
    float: left;
    position: relative;
    display: flex;
  }
}