.fa-beat {
    -webkit-animation: fa-beat 1s infinite linear;
    animation: fa-beat 1s infinite linear;
  }
  @-webkit-keyframes fa-beat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes fa-beat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }