@import "imports";

#root {
  #content {
    #login {
      padding: 10px;
      grid-area: content;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: ". . ." ". login ." ". . .";

      .container {
        grid-area: login;

        .login > div {
          display: grid;
          grid-template-columns: 1fr;
          align-items: center;

          &.actions {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}